motor
pymongo
requests
pyrofork
tgcrypto 
python-dotenv
cachetools
gunicorn
Flask
aiohttp
hydrogram
python-telegram-bot
apscheduler
telegraph
shortuuid
httpx[http2]
cloudscraper
pytz
beautifulsoup4
phonenumbers
opencage
folium
telethon
telegraph
