motor
pymongo
requests
pyrogram
tgcrypto 
python-dotenv
cachetools
gunicorn
Flask
aiohttp
hydrogram
python-telegram-bot
apscheduler
telegraph
shortuuid
httpx[http2]
cloudscraper
aiofiles
pytz
beautifulsoup4
